.megamenu {
    position: static !important ;
}

.megamenu .dropdown-menu {
    background: none !important;
    border: none !important;
    width: 100% !important;
}


code {
    color: #745eb1 !important;
    background: #fff !important;
    padding: 0.1rem 0.2rem !important;
    border-radius: 0.2rem !important;
}

.text-uppercase {
    letter-spacing: 0.08em !important;
}

.text-uppercase {

font-size: 100%;
}
  
.navbar {
    margin-bottom: 5% ;    /* margin en dessous de la navbar */ 

}
